*{
    margin: 0px;
    text-align: center;
}

.main-container {
    background-color: rgb(204, 95, 95);
    border-radius: 5vmin;
    border: 0.5vmin solid black;
    width: 50vmin;
    height: 90vmin;
    margin: auto;
}

.header{
    margin: 2%;
    animation: color-change 5s infinite;
    font-size: 6vmin;
    cursor: pointer;
  }
  
  @keyframes color-change {
    0% { color: red; }
    11% { color: orange; }
    22% { color: yellow; }
    33% { color: lightgreen; }
    44% { color: green; }
    55% { color: teal; }
    66% { color: blue; }
    77% { color: purple; }
    88% { color: pink; }
    100% { color: red; }
  }

.full-game{
    border: 0.2vmin solid black;
    margin: 2% auto 2% auto;
    width: 40vmin;
    height: 76vmin;
  }
.game-head{
    display: table;
    margin: 2%;
  }

.correct-grid{
    display: table-cell;
    display: grid;
    grid-template-columns: repeat(4, 6vmin);
    grid-template-rows: 6vmin;
    color: yellow;
    position: relative;
  }

.timer {
    display: table-cell;
    width: 12vmin;
    font-size: 4vmin;
    color: yellow;
  }

.gameTable-grid {
    margin: 2%;
    float: left;
    display: grid;
    grid-template-rows: repeat(11, 6vmin);
    grid-template-columns: repeat(5, 6vmin);
  }

.grid-item {
    border: 0.1vmin solid black;
    font-size: 5vmin;
    position: relative;
  }

.grid-item2 {
    display: grid;
    grid-template-columns: 3vmin 3vmin;
    grid-template-rows: 3vmin 3vmin;
    font-size: 2.5vmin;
  }

.spike{
    border: 0.1vmin solid black;
    position: relative;
}

.choose-grid {
    margin: 2%;
    float: left;
    display: grid;
    grid-template-columns: 6vmin;
    grid-template-rows: repeat(11, 6vmin);
}

.red {
    margin: 15%;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
}
.white {
    margin: 15%;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}
.blue {
    margin: 15%;
    border-radius: 100%;
    background-color: blue;
    cursor: pointer;
}
.pink {
    margin: 15%;
    border-radius: 100%;
    background-color: pink;
    cursor: pointer;
}
.orange {
    margin: 15%;
    border-radius: 100%;
    background-color: orange;
    cursor: pointer;
}
.purple {
    margin: 15%;
    border-radius: 100%;
    background-color: purple;
    cursor: pointer;
}
.yellow {
    margin: 15%;
    border-radius: 100%;
    background-color: yellow;
    cursor: pointer;
}
.green {
    margin: 15%;
    border-radius: 100%;
    background-color: green;
    cursor: pointer;
}

.apply {
    margin: 2%;
    padding-top: 5%;
    font-size: 4vmin;
    cursor: pointer;
}

.undo {
    margin: 2%;
    padding-top: 5%;
    font-size: 4vmin;
    cursor: pointer;
}

.fix {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 17.5%;
    width: 65%;
    height: 65%;
    cursor: default;
}

.GP {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 25%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: black;
}

.GC {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 25%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: white;
}

.gameInfo {
    font-size: 2vmin;
}